<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="shortcut icon"
            href="/images/info-bg.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <title>API - Tesz összeállító űrlap</title>
    </head>
    <body>
        <%- include('./nav.ejs') %>
        <div class="nyito-kontener">
            <h1>Tesztösszeállító</h1>
            <p><a href="/kerdesek/Webszerkesztés">Webszerkesztés</a></p>
            <p><a href="/kerdesek/Python">Python</a></p>
            <p><a href="/kerdesek/IT Alapok I.">IT Alapok I.</a></p>
            <p>
                <a href="/kerdesek/IT Alapok II. (hálózat)"
                    >IT Alapok II. (hálózat)</a
                >
            </p>
            <hr />
            <p>
                <a href="/kerdesek/Asztali alkalmazások"
                    >Asztali alkalmazások</a
                >
            </p>
            <p>
                <a href="/kerdesek/Adatbázis-kezelés">Adatbázis-kezelés</a>
            </p>
            <p><a href="/kerdesek/Szoftvertesztelés">Szoftvertesztelés</a></p>
            <p><a href="/kerdesek/Webprogramozás">Webprogramozás</a></p>
            <p>
                <a href="/kerdesek/Frontend programozás"
                    >Frontend programozás</a
                >
            </p>
            <p>
                <a href="/kerdesek/Backend programozás">Backend programozás</a>
            </p>
        </div>
    </body>
</html>
