<nav>
    <li><a href="/">Főoldal</a></li>
    <li class="dropdown">
        <a
            href="/kerdesek"
            class="dropbtn"
            >Kérdések</a
        >
        <div class="dropdown-content">
            <a href="/kerdesek/Webszerkesztés">Webszerkesztés</a>
            <a href="/kerdesek/Python">Python</a>
            <a href="/kerdesek/IT Alapok I.">IT Alapok I.</a>
            <a href="/kerdesek/IT Alapok II. (hálózat)"
                >IT Alapok II. (hálózat)</a
            >
            <a href="/kerdesek/Asztali alkalmazások">Asztali alkalmazások</a>
            <a href="/kerdesek/Adatbázis-kezelés">Adatbázis-kezelés</a>
            <a href="/kerdesek/Szoftvertesztelés">Szoftvertesztelés</a>
            <a href="/kerdesek/Webprogramozás">Webprogramozás</a>
            <a href="/kerdesek/Frontend programozás">Frontend programozás</a>
            <a href="/kerdesek/Backend programozás">Backend programozás</a>
        </div>
    </li>
    <li><a href="/ujkerdes">Új kérdés</a></li>
    <li><a href="https://suliteszt.onrender.com/">Teszt</a></li>
</nav>
