<nav>
    <li><a href="/">Főoldal</a></li>
    <li class="dropdown">
        <a
            href="/kerdesek"
            class="dropbtn"
            >Kérdések</a
        >
        <div class="dropdown-content">
            <a href="/kerdesek/Webszerkesztés">Webszerkesztés</a>
            <a href="/kerdesek/Python">Python</a>
            <a href="/kerdesek/IT Alapok I.">IT Alapok I.</a>
            <a href="/kerdesek/IT Alapok II. (hálózat)"
                >IT Alapok II. (hálózat)</a
            >
        </div>
    </li>
    <li><a href="/ujkerdes">Új kérdés</a></li>
</nav>
