<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <link
            rel="shortcut icon"
            href="/images/info-bg.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <title>API - Új kérdés</title>
    </head>
    <body>
        <%- include('./nav.ejs') %>
        <div class="ujkerdes-kontener">
            <form>
                <table>
                    <tr>
                        <td><label for="targy">Tárgy:</label></td>
                        <td>
                            <select
                                id="targy"
                                name="targyak"
                            >
                                <option value="Webszerkesztés">
                                    Webszerkesztés
                                </option>
                                <option value="Python">Python</option>
                                <option value="IT Alapok I.">
                                    IT Alapok I.
                                </option>
                                <option value="IT Alapok II. (hálózat)">
                                    IT Alapok II. (hálózat)
                                </option>
                                <option value="IKT Projektmunka">
                                    IKT Projektmunka
                                </option>
                                <option value="Digitális kultúra">
                                    Digitális kultúra
                                </option>
                                <option value="Asztali alkalmazások">
                                    Asztali alkalmazások
                                </option>
                                <option value="Adatbázis-kezelés">
                                    Adatbázis-kezelés
                                </option>
                                <option value="Szoftvertesztelés">
                                    Szoftvertesztelés
                                </option>
                                <option value="Webprogramozás">
                                    Webprogramozás
                                </option>
                                <option value="Frontend programozás">
                                    Frontend programozás
                                </option>
                                <option value="Backendend programozás">
                                    Backend programozás
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="tipus">Típus:</label></td>
                        <td>
                            <select
                                id="tipus"
                                name="tipusok"
                            >
                                <option value="Jelölőnégyzet">
                                    Jelölőnégyzet
                                </option>
                                <option value="Választógomb">
                                    Választógomb
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="kerdes">Kérdés:</label></td>
                        <td>
                            <input
                                type="text"
                                id="kerdes"
                                autocomplete="off"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="valaszok">Válaszok:</label></td>
                        <td>
                            <textarea
                                id="valaszok"
                                rows="6"
                            ></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="jovalaszok">Jó válasz(ok):</label></td>
                        <td>
                            <textarea
                                id="jovalaszok"
                                rows="4"
                            ></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="kep">Kép (url):</label></td>
                        <td>
                            <input
                                type="text"
                                id="kep"
                                autocomplete="off"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><button id="feldolgoz">Feldolgoz</button></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <script src="/js/menu.js"></script>
        <script src="/js/ujkerdes.js"></script>
    </body>
</html>
