@import './valtozok.css';
@import './nav.css';
@import './nyito-kontener.css';
@import './kerdesek-kontener.css';
@import './ujkerdes-kontener.css';

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(65, 65, 65);
    font-family: var(--poppins);
}

#fel-nyil {
    color: var(--feher);
    cursor: pointer;
    font-size: 2em;
    position: fixed;
    right: 5px;
    top: 80px;
    user-select: none;
}

@media screen and (max-width: 700px) {
    #fel-nyil {
        top: 356px;
    }
}
